In [1]:

import pandas as pd
from pandas import json_normalize
import json

# Replace 'your_file.json' with the actual path to your JSON file
json_file_path = '/Users/chandanabussu/Downloads/Test/brands.json'

# Read JSON file line by line into a list
with open(json_file_path, 'r') as file:
    lines = file.readlines()

# Load each line as a separate JSON object
data = [json.loads(line) for line in lines]

# Use json_normalize to flatten the nested structure
brands = json_normalize(data)

# Display the normalized DataFrame
print(brands)

"""Converting JSON file into Excel file for having a structure for the data"""

excel_file_path = '/Users/chandanabussu/Downloads/Test/output_file3.xlsx'
brands.to_excel(excel_file_path, index=False)

brands

"""Gaining information about the dataset. Building a brief data dictionary"""

brands.info()

brands["barcode"] = brands["barcode"].astype(str)

"""Quantifying missing data"""

brands.isna().sum()

brands.isna().sum().sum()

percentage_nullvalues = brands.isna().mean()
for key, value in percentage_nullvalues.items():
  if value>0:
    print(key, ":", value * 100)

#More than 50% fraction of the values are missing from topBrand and categoryCode.

"""Checking duplicates"""

duplicates = brands[brands.duplicated()]
print('Duplicat rows except for the first occurences in each column: ')
print(duplicates)

"""Lets make category the target variable."""

#finding unique values inside the category
brands['category'].unique()

brands['category'].nunique()

brands['category'].value_counts()

"""We can conclude from above that majority of the brands belong to Baking category

At last I would like to say that there was one data quality issue in this dataset and 
that was a large number of missing values in topBrand and categoryCode columns
"""

           barcode            category      categoryCode  \
0     511111019862              Baking            BAKING
1     511111519928           Beverages         BEVERAGES
2     511111819905              Baking            BAKING
3     511111519874              Baking            BAKING
4     511111319917      Candy & Sweets  CANDY_AND_SWEETS
...            ...                 ...               ...
1162  511111116752              Baking            BAKING
1163  511111706328  Breakfast & Cereal               NaN
1164  511111416173      Candy & Sweets  CANDY_AND_SWEETS
1165  511111400608             Grocery               NaN
1166  511111019930              Baking            BAKING

                           name topBrand                  _id.$oid  \
0     test brand @1612366101024    False  601ac115be37ce2ead437551
1                     Starbucks    False  601c5460be37ce2ead43755f
2     test brand @1612366146176    False  601ac142be37ce2ead43755d
3     test brand @1612366146051    False  601ac142be37ce2ead43755a
4     test brand @1612366146827    False  601ac142be37ce2ead43755e
...                         ...      ...                       ...
1162  test brand @1601644365844      NaN  5f77274dbe37ce6b592e90c0
1163        Dippin DotsÂ® Cereal      NaN  5dc1fca91dda2c0ad7da64ae
1164  test brand @1598639215217      NaN  5f494c6e04db711dd8fe87e7
1165          LIPTON TEA Leaves    False  5a021611e4b00efe02b02a57
1166  test brand @1613158231643    False  6026d757be37ce6369301468

                  cpg.$id.$oid cpg.$ref                      brandCode
0     601ac114be37ce2ead437550     Cogs                            NaN
1     5332f5fbe4b03c9a25efd0ba     Cogs                      STARBUCKS
2     601ac142be37ce2ead437559     Cogs  TEST BRANDCODE @1612366146176
3     601ac142be37ce2ead437559     Cogs  TEST BRANDCODE @1612366146051
4     5332fa12e4b03c9a25efd1e7     Cogs  TEST BRANDCODE @1612366146827
...                        ...      ...                            ...
1162  5f77274dbe37ce6b592e90bf     Cogs                            NaN
1163  53e10d6368abd3c7065097cc     Cogs             DIPPIN DOTS CEREAL
1164  5332fa12e4b03c9a25efd1e7     Cogs  TEST BRANDCODE @1598639215217
1165  5332f5f6e4b03c9a25efd0b4     Cogs              LIPTON TEA Leaves
1166  6026d757be37ce6369301467     Cogs  TEST BRANDCODE @1613158231644

[1167 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   barcode       1167 non-null   object
 1   category      1012 non-null   object
 2   categoryCode  517 non-null    object
 3   name          1167 non-null   object
 4   topBrand      555 non-null    object
 5   _id.$oid      1167 non-null   object
 6   cpg.$id.$oid  1167 non-null   object
 7   cpg.$ref      1167 non-null   object
 8   brandCode     933 non-null    object
dtypes: object(9)
memory usage: 82.2+ KB
category : 13.281919451585262
categoryCode : 55.69837189374465
topBrand : 52.44215938303341
brandCode : 20.051413881748072
Duplicat rows except for the first occurences in each column:
Empty DataFrame
Columns: [barcode, category, categoryCode, name, topBrand, _id.$oid, cpg.$id.$oid, cpg.$ref, brandCode]
Index: []

'We can conclude from above that majority of the brands belong to Baking category\n\nAt last I would like to say that there was one data quality issue in this dataset and \nthat was a large number of missing values in topBrand and categoryCode columns\n'